/github-auth/files/default/ssh/*.key
/github-auth/files/default/ssh/*.pem
/nginx/files/default/ssl/*.key
/nginx/files/default/ssl/*.pem
Berksfile.lock
.DS_Store
/web-server/files/default/rootCA.crt
/web-server/files/default/betwixtCA.crt
